.scoreBoard {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-bottom: 20px;
}

.scoreBox {
  background-color: var(--board-bg);
  padding: 15px 25px;
  border-radius: var(--border-radius);
  text-align: center;
  min-width: 100px;
}

.label {
  font-size: 13px;
  font-weight: bold;
  color: #eee4da;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.value {
  font-size: 25px;
  font-weight: bold;
  color: white;
}
